
<div class="p-4 md:ml-64 h-auto pt-20">
    <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Crear Categoria
        </h3>
    </div>

    <!--  body -->
    <form th:action="@{/admin/categorias}" th:object="${categoria}" th:method="post">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
            <div>
                <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Categoria</label>
                <input type="text" name="nombre" id="nombre" th:field="*{nombre}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="PELUQUERIA" required="">
                <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en nombres</small>
            </div>
            <div>
                <label for="observaciones" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
                <input type="text" name="observaciones" id="observaciones" th:field="*{observaciones}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="">
            </div>
            <div>
                <label for="categoriaPadreInput" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoria</label>
                <input list="categoriaPadreOptions" id="categoriaPadreInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Buscar...">
                <input type="hidden" name="categoriaPadre" id="categoriaPadre" th:field="*{categoriaPadre}">
                <datalist id="categoriaPadreOptions">
                    <option value="" th:text="'Sin Padre'"></option>
                    <option th:each="cat : ${categorias}" th:value="${cat.nombre}" th:data-id="${cat.id}" th:text="${cat.nombre}"></option>
                </datalist>
            </div>
        </div>
        <button type="submit" class="inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
            Agregar Categoria
        </button>
        <a href="/admin/categorias" class="inline-flex items-center bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-400 dark:hover:bg-gray-500 dark:focus:ring-gray-600 ml-2">
            Cancelar
        </a>
    </form>
    <!-- Esquema de categorías y subcategorías -->
    <div class="bg-white dark:bg-gray-800 shadow-md sm:rounded-lg mt-4 p-4">
        <h2 class="text-lg font-medium text-gray-900 dark:text-white">Esquema de Categorías</h2>
        <ul class="list-disc pl-5">
            <li th:each="categoria : ${categorias}" th:if="${categoria.categoriaPadre == null and categoria.activo}">
                <span th:text="${categoria.nombre}"></span>
                <ul class="list-disc pl-5" th:if="${categoria.subcategorias != null}">
                    <li th:each="subcategoria : ${categoria.subcategorias}" th:if="${subcategoria.activo}">
                        <span th:text="${subcategoria.nombre}"></span>
                        <ul class="list-disc pl-5" th:if="${subcategoria.subcategorias != null}">
                            <li th:each="subsubcategoria : ${subcategoria.subcategorias}" th:if="${subsubcategoria.activo and subsubcategoria.esHoja()}">
                                <span th:text="${subsubcategoria.nombre}"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    document.getElementById('categoriaPadreInput').addEventListener('input', function() {
        var input = this.value;
        var options = document.getElementById('categoriaPadreOptions').options;
        for (var i = 0; i < options.length; i++) {
            if (options[i].value === input) {
                document.getElementById('categoriaPadre').value = options[i].getAttribute('data-id');
                break;
            }
        }
    });
</script>